.container{
    width: 100vw;
    height: 100vh;
    background-color: $background-secondary;
}

.content {
    width: 100%;
    height: 100%;
    padding: 64px;
    .hero{
        width: 100%;
    }
    .hero>h1{
        font-size: $xl;
        font-weight: $bold;
        color: $text-primary;
    }
    .hero>p{
        font-size: $md;
        font-weight: $regular;
        color: $text-primary;
    }
    .searchInput{
        width: 350px !important;
        padding: $s12 $s16;
        border-radius: $s16;
        border: 1px solid #474747 !important;
        background: $background-third;
        color: $text-secondary !important;
        ::placeholder{
            color: #888888 !important;
        }
    }
    .createButton{
        display: flex;
        width: 200px;
        padding: $s12 $s16;
        justify-content: center;
        align-items: center;
        background: $brand-primary !important;
        border-radius: $s16;
        color: $text-primary;
        font-weight: $regular;
    }
    .roomList {
        overflow-y: scroll;
        width: 100%;
        display: inline-grid;
        row-gap: 32px;
        column-gap: 32px;
        flex: 1 0 0;
        align-self: stretch;
        grid-template-rows: fit-content(100%);
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}
