$sm : 12px;
$md : 16px;
$lg : 20px;
$xl : 24px;
$xxl : 32px;

$light : 300;
$regular : 400;
$medium : 500;
$semi-bold : 600;
$bold : 700;

$s4 : 4px;
$s6 : 6px;
$s8 : 8px;
$s12 : 12px;
$s16 : 16px;
$s20 : 20px;
$s24 : 24px;
$s32 : 32px;

