.container{
    width: 100vw;
    height: 100vh;
}   

.infoPanel {
    background: $background-secondary;
    padding: 20px;
    .infoPanelHeader {
        h1{
            font-size: $xl;
            font-weight: $medium;
            color: $text-primary;
        }
        p{
            font-size: 14px;
            color: $text-secondary;
            font-weight: $regular;
        }
        h6{
            font-size: $sm;
            color: hsla(43, 96%, 56%, 1);
            font-weight: $regular;
        }
    }
    .exitButton {
        padding: 12px 32px;
        font-size: $md;
        color: $text-primary;
        font-weight: $medium;
        background-color: #B82626 !important;
        border-radius: $s12 !important;
    }
}