$sm : 12px;
$md : 16px;
$lg : 20px;
$xl : 24px;
$xxl : 32px;

$light : 300;
$regular : 400;
$medium : 500;
$semi-bold : 600;
$bold : 700;

$s4 : 4px;
$s6 : 6px;
$s8 : 8px;
$s12 : 12px;
$s16 : 16px;
$s20 : 20px;
$s24 : 24px;
$s32 : 32px;

$background-primary: #1F2123;
$background-secondary: #292B2E;
$background-third : #323539;

$text-primary: #FFFFFF;
$text-secondary: #959595;

$border-primary: #474747;

$brand-primary: linear-gradient(90deg, #0FA984 0.02%, #0B745B 99.98%);
