.container {
    width: 100%;
    height: 353px;
    border-radius: 16px;
    border: 1px solid $border-primary;
}

.contents {
    background-color:$background-third;
    padding: $s12;
    h1{
        font-size: $md;
        color: $text-primary;
        font-weight: $medium;
    }
    h2{
        font-size: $sm;
        color: $text-secondary;
        font-weight: $regular;
    }
    .infoRow{
        h6{
            font-size: $sm;
            color: #FFD700;
            font-weight: $medium;
        }
        p{
            font-size: $sm;
            color: $text-primary;
            font-weight: $regular;
        }
    }
    
    .joinButton{
        width: 100%;
        background : $brand-primary !important;
        padding: $s16;
        font-size: $md;
        font-weight: $bold;
        color: $text-primary;
    }
}