.container{
    width: 100%;
    padding: $s12 64px;
    background: #1F2123;
    .logo{
        width: 36px;
        height: 36px;
        border-radius: 12px;
        background: linear-gradient(181deg, #0FA984 0.65%, #064334 99.33%);
    }
    .profile {
        width: 32px;
        height: 32px;
        border-radius: 999px;
        background: #D9D9D9;
    }

    .loginButton {
        padding: $s6 $s16;
        background: $brand-primary !important;
        border-radius: $s12;
        color: $text-primary;
        font-size: $sm;
        font-weight: $medium;
        
        &:hover {
            opacity: 0.9;
        }
    }
}